<?php include __DIR__ . '/header.html'; ?>

<?php
    $show_policy_consent_checkbox = false;
?>

<div class="container">
    <div id="user-action-box" class="card card-container wow zoomIn animated">
        <div class="head-logo">
            <img src="<?= $_COMPANY->val('logo') ?? '../../image/teleskope-logo.png' ?>" height="50px"/>
            <div class="title">Sign In to Your <?=$application_name?> Account</div>
        </div>

        <?php if (!empty($success_message)) { ?>
            <div class="alert alert-success">
                <?= $success_message; ?>
            </div>
        <?php } ?>
        <?php if (!empty($error_message)) { ?>
            <div class="alert alert-danger">
                <?= $error_message; ?>
            </div>
        <?php } ?>

        <form id="recaptcha-enabled-form" class="form-horizontal" action="login" method="POST">
            <?php if (empty($_SESSION['login_otp_identity']) || empty($_SESSION['login_otp'])) { ?>
            <div class="form-group">
                <label class="control-label"><?=$otp_identities_label?>:</label>
                <input type="email" class="form-control" name="login_otp_identity" placeholder="Enter your <?=$otp_identities_label?>" value="<?=htmlspecialchars($_SESSION['login_otp_identity'])?>" autocomplete="off" required>
            </div>
            <div class="form-group">
                <button type="submit" data-sitekey="<?=RECAPTCHA_SITE_KEY?>" data-callback='onRecaptchaSubmit' class="loginBtn loginBtn--common btn-block center-block g-recaptcha">
                    Get One-Time Password (OTP)
                </button>
            </div>
            <?php } else { ?>
            <div class="form-group">
                <label class="control-label"><?=$otp_identities_label?>:</label>
                <input type="email" class="form-control" name="login_otp_identity" placeholder="Enter your <?=$otp_identities_label?>" value="<?=htmlspecialchars($_SESSION['login_otp_identity'])?>" autocomplete="off" disabled>
            </div>
            <div class="form-group">
                <label class="control-label">One-Time Password (OTP):</label>
                <input class="form-control" name="login_otp" placeholder="Enter your OTP" autocomplete="off" required>
                <small><a href="?regenerate">Get a new One-Time Password (OTP)</a></small>
            </div>
            <div class="form-group">
                <button type="submit" class="loginBtn loginBtn--common btn-block center-block">
                    <?=htmlspecialchars($loginMethod['login_btn_label'] ?? 'Sign In')?>
                </button>
                <small class="mt-1 mb-1"><?=htmlspecialchars($loginMethod['login_btn_description']??'')?></small>
            </div>
            <?php } ?>
        </form>

        <div class="mt-3" style="text-align: center; margin-top:8px; border-top: 1px solid #dedede"></div>
        <div class="text-center grecaptcha-label mb-0">Confidential – For Internal Use Only</div>
        <br>
        <div class="grecaptcha-label">
            This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>
        <div id="footer-logo"></div>
    </div>
    <div style="height:2px;"> </div>
</div>

    <?php if ($show_policy_consent_checkbox){ ?>
    <script>
        $("#acceptPrivacyPolicyBlock").css('display', 'block');
        $(".loginSubmitBtn").addClass("disabled");
       
        $("#acceptPrivacyPolicy").click(function() {
            var checked = $(this).is(':checked');
            if (checked) {
                $(".loginSubmitBtn").removeClass("disabled");
            } else {
                $(".loginSubmitBtn").addClass("disabled");
            }
        });
        $('.loginSubmitBtn').click(function(e){
            if($(this).hasClass('disabled')){
                swal.fire({text:"Please accept the Privacy Policy & Terms of Service to continue"}).then( function(result) {
                    $("#acceptPrivacyPolicy").focus();
                });
                e.preventDefault();
            } else {
                let u = $(this).attr("href");
                $(this).attr("href", u+'&policy_accepted=yes');
            }
        });
    </script>
    <?php } ?>
</body>
</html>
