<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><?=$pageTitle;?></title>

<link rel="icon" href="data:,">
    <!-- Bootstrap -->
    <!--link href="../css/bootstrap.min.css" rel="stylesheet"-->
    <link href="../vendor/js/bootstrap-4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/css/animate-3.7.2.min.css" rel="stylesheet">
    <link href="../vendor/js/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="../vendor/js/jquery-ui-1.14.0/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">

   
    <link href="./css/style.css" rel="stylesheet">

    <!-- Bootstrap ... in the last -->
    <script src="../vendor/js/jquery-3.5.1/dist/jquery.min.js"></script>
    <script src="../vendor/js/jquery-ui-1.14.0/jquery-ui.min.js"></script>
    <script src="../vendor/js/bootstrap-4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/js/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>


    <!-- redactor  -->
    <link rel="stylesheet" href="../vendor/js/redactor-3-5-2/redactor.min.css" />
    <link rel="stylesheet" href="../vendor/js/redactor-3-5-2/plugins/handle/handle.min.css" />
    <script src="../vendor/js/redactor-3-5-2/redactor.tele.min.js?v=1"></script>
    <script src="../vendor/js/redactor-3-5-2/plugins/video/video.min.js"></script>
    <script src="../vendor/js/redactor-3-5-2/plugins/fontcolor/fontcolor.min.js"></script>
    <script src="../vendor/js/redactor-3-5-2/plugins/counter/counter.min.js"></script>
    <script src="../vendor/js/redactor-3-5-2/plugins/handle/handle.min.js"></script>
   
    <link href="../vendor/js/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <script src="../vendor/js/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="../vendor/js/promise-polyfill/dist/polyfill.min.js"></script>

    <!-- Survey.js -->
    <!-- <link rel="stylesheet" href="../vendor/js/surveyjs-1.9.50/survey.min.css"> -->
    <link type="text/css" rel="stylesheet" href="../vendor/js/surveyjs-1.11.2/defaultV2.css">
    <link type="text/css" href="../vendor/js/surveyjs-1.11.2/modern.min.css" rel="stylesheet">
    <script src="../vendor/js/surveyjs-1.11.2/survey.jquery.min.js"></script>


    <!-- select2 -->
    <link href="../vendor/js/select2-4.0.12/dist/css/select2.min.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
    <script src="../vendor/js/select2-4.0.12/dist/js/select2.min.js"></script>
    <!-- end of select 2 -->

    <script src="./js/index.js"></script>
    <script src="./js/initRedactor.js"></script>


</head>

<body>

