<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teleskope Survey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="96x96" href="<?= Url::GetFavIconUrl(); ?>">

    <!-- Bootstrap -->
    <link href="<?=TELESKOPE_.._STATIC?>/vendor/js/bootstrap-4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?=TELESKOPE_.._STATIC?>/vendor/css/animate-3.7.2.min.css" rel="stylesheet">

    <!-- Teleskope styles, comes after bootstrap from parent folder -->
    <link href="../css/teleskope.css" rel="stylesheet">
    <!-- Bootstrap ... in the last -->
    <script src="<?=TELESKOPE_.._STATIC?>/vendor/js/jquery-3.5.1/dist/jquery.min.js"></script>
    <script src="<?=TELESKOPE_.._STATIC?>/vendor/js/bootstrap-4.4.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- SurveyJs Stuff-->
    <link rel="stylesheet" href="<?=TELESKOPE_.._STATIC?>/vendor/js/surveyjs-1.11.2/modern.min.css">
    <script src="<?=TELESKOPE_.._STATIC?>/vendor/js/surveyjs-1.11.2/survey.jquery.min.js"></script>

    <!-- Sweet Alert 2 -->
    <script src="<?=TELESKOPE_.._STATIC?>/vendor/js/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <style>
        body {
            background-color: #ffffff !important;

        }
        .sv-question,.sv-btn,.sv-container-modern,.svd_container,.sv_main,.sv-title,.sv-completedpage {
            font-family: 'Lato-Regular' !important;
        }
        .sv-root-modern .sv-completedpage{
            background: #fff !important;
        }
        .rc-anchor-alert{
          display: none;
        }
    </style>

</head>
<body>
<div class="jumbotron text-center " style="background: #fff; border-bottom: 1px solid rgb(201, 199, 199);">
      <img src="<?=$_COMPANY->val('logo')?>" height="40px"/>
      <p><?=$_COMPANY->val('companyname')?> Survey</p>
    </div>
      
    <div class="container">
      <div class="row">
        <div class="col-sm-12 surveyTitle">
          <h3 class="text-center"><?= $survey_name;?></h3>
        </div>
        <div class="col-sm-12 mb-5">
          <div id="surveyContainer"></div>
        </div>

      </div>
    </div>
 
    <script>
     var __responseJson = null;
    
    $( document ).ready(function() {
        // Color customization
        var defaultThemeColorsSurvey = Survey.StylesManager.ThemeColors["modern"];
        defaultThemeColorsSurvey["$main-color"] = "#0077b5";
        defaultThemeColorsSurvey["$main-hover-color"] = "#0D5380";
        defaultThemeColorsSurvey["$text-color"] = "#505050";
        defaultThemeColorsSurvey["$header-color"] = "#0077b5";
        defaultThemeColorsSurvey["$header-background-color"] = "#505050";
        defaultThemeColorsSurvey["$body-container-background-color"] = "#f8f8f8";
        Survey.StylesManager.applyTheme("modern");
        Survey.settings.titleTags.survey = "h1";
        Survey.settings.titleTags.page = "h2";
        Survey.settings.titleTags.panel = "h3";
        Survey.settings.titleTags.question = "h2";

        var surveyJSON = <?= $survey_json; ?>;
        var surveyResponse = null;

        var survey = new Survey.Model(surveyJSON);

        $("#surveyContainer").Survey({
            model:survey
        });
        setTimeout(function(){
          document.querySelectorAll('div[role="listbox"]').forEach(function (el){
              $(el).removeAttr( "role" );
          });
          $('.sv-checkbox__svg, .sv-radio__svg').css({"border-color": "#949494", 
                    "border-width":"3px", 
                    "border-style":"solid"});
        },1000);
    });
   </script>

</body>
</html>
