<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teleskope Calendar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="96x96" href="<?= Url::GetFavIconUrl(); ?>">
    <link href='../vendor/js/jquery-ui-1.14.0/themes/ui-lightness/jquery-ui.min.css' rel='stylesheet'  />
    <!-- Bootstrap -->
    <link href="../vendor/js/bootstrap-4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/css/animate-3.7.2.min.css" rel="stylesheet">

    <!-- Teleskope styles, comes after bootstrap from parent folder -->

    <!-- Bootstrap ... in the last -->
    <script src="../vendor/js/jquery-3.5.1/dist/jquery.min.js"></script>
    <script src="../vendor/js/bootstrap-4.4.1/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Sweet Alert 2 -->
    <script src="../vendor/js/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <script src='../vendor/js/moment-2.30.1/min/moment.min.js'></script>    
    
    <script src='../vendor/js/fullcalendar-6.1.15/dist/index.global.min.js'></script>

    <style>
        /* custom style for calendar's header buttons */
        :root {
            --fc-button-active-bg-color: #0077B5;
            --fc-button-bg-color: #fff;
            --fc-button-border-color: #0077B5 ;
            --fc-button-text-color: #0077B5;
        }
        .fc .fc-button-primary:not(:disabled).fc-button-active{
            color: #fff;
        }
        .fc-daygrid-event {
            line-height: 1rem;
        }
        .text-color-red { color: red!important;}
        .text-color-blue { color: blue!important; }
    </style>

</head>
<body>
<div class="col-md-12 text-center">
    <a class="btn btn-primary btn-sm mt-3 mb-3" target="_blank" rel="noreferrer noopener" href="<?= $applicationCalendarLink; ?>">Open Calendar Page to Filter</a>
</div>
<div id='calendar' style="padding: 10px;background: #ffffff;"></div>
<script>
      $(document).ready(function() {
         var events2 =                   [
                <?php foreach ($events as $event) {
                    $eventObj = Event::ConvertDBRecToEvent($event);
                    if ($event['isprivate']) {
                        if (!$showPrivateEventBlocks) {
                            continue; // Do not show private events
                        } else {
                            // Blind the private event
                            $event['eventtitle'] = gettext('Private Event');
                            $event['eventvanue'] = '';
                            $event['vanueaddress'] = '';
                            $event['event_description'] = '';
                            $event['web_conference_link'] = '';
                            $event['web_conference_detail'] = '';
                            $event['web_conference_sp'] = '';
                        }
                    }

                    $ergName = $eventObj->getFormatedEventCollaboratedGroupsOrChapters();
                    $ergColor = $_COMPANY->getGroupColor($event['groupid']);
                    $ergLabel = $_COMPANY->getAppCustomizationForZone($event['zoneid'])['group']['name-short'];
                    if ($ergName == 'Unknown') {
                        //$ergName = Arr::SearchColumnReturnColumnVal($linkedGroupRows, $event['groupid'], 'groupid', 'groupname');
                        //$ergColor = Arr::SearchColumnReturnColumnVal($linkedGroupRows, $event['groupid'], 'groupid', 'overlaycolor');
                        $ergLabel = 'Group';
                    }
                    if ($event['eventclass']=== 'holiday') {
                        $color = '#ffffff';
                        $borderColor = $ergColor;
                        $textColor = '#444444';
                        $event_class = 'holiday';
                        $event_time = 'All Day';
                        $start_date =  $db->covertUTCtoLocalAdvance("Y-m-d","",$event['start'],'UTC');
                        $end_date = ($event['end'] > $event['start'] ? $db->covertUTCtoLocalAdvance("Y-m-d H:i:s","",$event['end'],'UTC') : $start_date);
                    }
                    else {
                        $color = $ergColor;
                        $borderColor = $ergColor;
                        $textColor = '#ffffff';
                        $event_class = 'event';
                        $event_time = $db->covertUTCtoLocalAdvance("g:i A"," T(P)",$event['start'],'UTC');
                        $start_date =  $db->covertUTCtoLocalAdvance("Y-m-d","",$event['start'],'UTC') . 'T' . $db->covertUTCtoLocalAdvance("H:i","",$event['start'],'UTC');
                        $end_date = $db->covertUTCtoLocalAdvance("Y-m-d","",$event['end'],'UTC'). 'T' . $db->covertUTCtoLocalAdvance("H:i","",$event['end'],'UTC');
                    }
                    $eventAppType = $_COMPANY->getZone($event['zoneid'])->val('app_type');

                    $draftTag = ($event['isactive'] == Event::STATUS_DRAFT || $event['isactive'] == Event::STATUS_UNDER_REVIEW)
                                    ? '<span class="text-color-red">[' . gettext('draft - not published yet') . ']</span><br>'
                                    : (
                                            $event['isactive'] == Event::STATUS_AWAITING
                                                ? '<span class="text-color-blue">[' . gettext('scheduled - not published yet') . ']</span><br>'
                                                : ''
                                    );

                ?>
                {
                    erg : '<?= addslashes(html_entity_decode($ergName));?>',
                    eventid : '<?= $_COMPANY->encodeId($event['eventid']); ?>',
                    erglabel: '<?= $ergLabel ?>',
                    title: '<?= addslashes((html_entity_decode($event['eventtitle']))); ?>',
                    safe_title: '<?= addslashes(htmlspecialchars(html_entity_decode($event['eventtitle']))); ?>',
                    draft: '<?= $draftTag ?>',
                    isprivate: <?= ($event['isprivate'] == 0) ? 0 : 1; ?>,
                    urlWindow: '_blank',
                    url:  'javascript:void(0)',
                    eventlink: '<?=$_COMPANY->getAppURL($eventAppType)?>eventview?id=<?= $_COMPANY->encodeId($event['eventid']); ?>',
                    start: '<?=$start_date?>',
                    end: '<?=$end_date?>',
                    venue: "<?= addslashes(htmlspecialchars(html_entity_decode($event['eventvanue']))); ?>",
                    address: '<?= addslashes(htmlspecialchars(str_replace(array("\r", "\n", "  "), ' ', html_entity_decode($event['vanueaddress'])))); ?>',
                    event_class: '<?= $event_class ?>',
                    time: '<?=$event_time?>',
                    etime: '<?= $db->covertUTCtoLocalAdvance("g:i A"," T(P)",$event['end'],'UTC'); ?>',
                    color: '<?=$color?>',
                    borderColor: '<?=$borderColor?>',
                    textColor: '<?=$textColor?>',
                    web_conf_link : '<?= addslashes(htmlspecialchars($event['web_conference_link'])); ?>',
                    web_con_sp : '<?= addslashes(htmlspecialchars($event['web_conference_sp'])); ?>',
                    venue_type : '<?= addslashes(htmlspecialchars($event['event_attendence_type'])); ?>',
                },
                <?php	} ?>
            ];
       
        var calendarEl = document.getElementById('calendar');
        var calc = new FullCalendar.Calendar(calendarEl, {
        
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            validRange: {
                    start: '<?= date("Y-m-d", strtotime("3 months ago")); ?>'
            },
            locale: 'en',
            initialView: '<?= $calendarDefaultView; ?>',
            initialDate: '<?= $calendarDefaultDate; ?>',
            themeSystem: 'bootstrap',
            navLinks: true, // can click day/week names to navigate views
            editable: false,
            dayMaxEvents: 3, // allow "more" link when too many events
            moreLinkClick: 'popover', // 'day', day is more accessible friendly
            displayEventTime: true,
            eventDisplay: 'auto', // Historically we used 'block', though auto will be better
            nowIndicator: true,


  
            events: events2,
  
            eventClick: function(info) {

                if (info.event.extendedProps.isprivate) {
                    return false;
                }
                if (info.event.extendedProps.event_class=='event') {

                    Swal.fire({
                        html: "<p>This link will open a new window on the events website.</p>",
                        showConfirmButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Continue'
                    }).then(function(result) {
                        if (result.dismiss == "cancel")
                            return true;
                        else
                            window.open(info.event.extendedProps.eventlink, "_blank");
                    });
                    return true;
                }
                // else {
                //     viewHolidayDetail(event.eventid);
                //     return false;
                // }
            },

            eventMouseEnter: function(info) {
                let data = info.event.extendedProps;
                let tooltip;
                if (data.event_class === 'holiday') {
                    tooltip = data.draft + '<strong>' + data.safe_title + '</strong></br><strong>' + data.erglabel + ':</strong> ' + data.erg + '<br/><strong><?= addslashes(gettext("Start"));?>:</strong> ' + data.time;
                } else {
                    let venue = '<strong><?= addslashes(gettext("Venue"));?>:</strong> ' + data.venue + '</br>' + '<strong><?= addslashes(gettext("Address"));?>: </strong>' + data.address + '</br>';

                    if (data.venue_type == 2){
                        venue = '<strong><?= addslashes(gettext("Web Conf"));?>:</strong> '+data.web_con_sp+'</br>';
                    } else if (data.venue_type == 3){
                        venue += '<strong><?= addslashes(gettext("Web Conf"));?>:</strong> '+data.web_con_sp+'</br>';
                    } else if (data.venue_type == 4){
                        venue = '<strong><?= addslashes(gettext("Venue"));?>:</strong> <?= addslashes(gettext("Other"));?></br>';
                    }

                    if (data.isprivate == 1) {
                        venue = '';
                    }

                    tooltip = data.draft + '<strong>' + data.safe_title + '</strong></br><strong>' + data.erglabel + ':</strong> ' + data.erg + '<br/>' + venue + '<strong><?= addslashes(gettext("Start"));?>:</strong> ' + data.time + '<br/><strong><?= addslashes(gettext("End"));?>:</strong> ' + data.etime;
                }
                $(info.el).popover({
                    // title: data.draft,
                    content: tooltip,
                    html: true,
                    trigger: 'hover',
                }).popover('show');
            },
            eventMouseLeave: function(info) {
                info.el.removeAttribute('title');
            },
            dateClick: function() {
                tooltip.hide()
            },
            eventResizeStart: function() {
                tooltip.hide()
            },
            eventDragStart: function() {
                tooltip.hide()
            },
            moreLinkClick: function(info) {
                return "listMonth";
            },
           
          });

          calc.render();
            var calendarLang = '<?=  $calendarLang ?>';
            if (calendarLang) {
                calc.setOption('locale', calendarLang);
            }   
      });
  </script>
</body>
</html>
