<div class="modal" id="assignEventSpeakerApproverModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><?= $modalTitle; ?></h5>
          <button type="button" id="btn_close" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      <label for="selected_approver_id" class="control-lable">Choose an approver:</label>
                      <br>
                      <select class="form-control" name="selected_approver_id" id="selected_approver_id">
                        <?php foreach (User::GetAllZoneAdminsWhoCanManageZoneSpeakers() as $speaker) { ?>
                          <option value="<?=$_COMPANY->encodeId($speaker['userid'])?>"><?=$speaker['firstname'] . ' ' . $speaker['lastname'] . '('. $speaker['email'] .')';?></option>
                        <?php } ?>
                      </select>

                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="assignSpeakerApprover('<?= $_COMPANY->encodeId($eventid)?>','<?= $_COMPANY->encodeId($speakerid)?>');" ><?= gettext("Submit")?></button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= gettext("Close")?></button>
        </div>
      </div>
    </div>
  </div>
 
  <script>

  </script>