<style>
    .table > thead > tr:first-child > th{border-top:none;}
</style>		
        
<div class="container col-md-offset-2 margin-top">
    <div class="row">              
        <div class="col-md-12">
            <div class="widget-simple-chart card-box">
                <div class="col-md-12 divider">
                    <h6 style="margin-top: 4px;" >Manage Event Preferred Timezones&nbsp;</h6>
                    <a aria-label="Add new preferred timezone" class="add-plus-circle-icon" href="new_preferred_timezone">
                        <i class="fa fa-plus-circle fa-lg mt-3 ml-2" title="Add new preferred timezone" aria-hidden="true"></i>
                    </a>
                </div>
                
                <div class="clearfix"></div>
            <?php if((time()- @$_SESSION['updated']) < 5){ ?>
                <div id="hidemesage" class="alert alert-info alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                    <?= UPDATED; ?>
                </div>
            <?php }elseif((time()- @$_SESSION['added']) < 5) { ?>
                <div id="hidemesage" class="alert alert-info alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                    <?= ADDED; ?>
                </div>
            <?php }elseif((time()- @$_SESSION['error']) < 5){ ?>
                    <div id="hidemesage" class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        <?= ERROR; ?>
                    </div>
            <?php } ?>
                <div class="col-md-12">
                    <div class="table-responsive " id="list-view">
                        <table id="eventTimezones" class="table table-hover display compact" summary="This table display the list of preferred timezones">
                            <thead>
                                <tr>
                                    <th width="30%" scope="col">Timezone Label</th>
                                    <th width="25%" scope="col">Timezone System Type</th>
                                    <th width="15%" scope="col">Created by</th>
                                    <th width="15%" scope="col">Created on</th>
                                    <th width="15%" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                        <?php if(count($data)>0){
                                for($i=0; $i < count($data); $i++){
                                    $encodedId = $_COMPANY->encodeId($data[$i]['timezoneid']);
                                    $createdby = User::GetUser($data[$i]['createdby']); ?>
                                <tr id="e<?= ($i+1); ?>">
                                    <td><?= $data[$i]['timezone_display_name']; ?></td>
                                    <td><?= $data[$i]['timezone_system_value']; ?></td>
                                    <td><?php if($createdby){ 
                                        echo $createdby->val('firstname') .' '. $createdby->val('lastname'); } 
                                        ?></td>
                                    <td><?= $_USER->formatUTCDatetimeForDisplayInLocalTimezone($data[$i]['createdon']); ?></td>
                                    <td>
                                        <a class="btn" href="new_preferred_timezone?edit=<?=$encodedId;?>"><i class="fa fa-edit" title="Edit"></i></a>&nbsp;
                                        <button aria-label="Delete" class="btn btn-no-style deluser" id="bdelete<?= ($i+1);?>" onclick="deletePreferredTimezone(<?=($i+1)?>,'<?=$encodedId;?>',0)" title="<strong>Are you sure you want to delete!</strong>"><i class="fa fa-trash" title="Delete" aria-hidden="true"></i></button>&nbsp;
                                    </td>
                                </tr>
                                <?php	} ?>   
                        <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="<?=TELESKOPE_CDN_STATIC?>/vendor/js/datatables-2.1.8/datatables.min.js"></script>
<script>
        $('#eventTimezones').DataTable( {
        "order": [],
        "bPaginate": true,
        "bInfo" : false,
        "stateSave": true,
        "columnDefs": [
            { targets: [-1], orderable: false }
        ], 
        "drawCallback": function( settings ) {
            $(".deluser").popConfirm({content: ''});
        },
        language: {
            searchPlaceholder: "...",
            url: '../vendor/js/datatables-lang/i18n/<?= $_COMPANY->getDatatableLanguage($_USER->val("language")); ?>.json'
        },
    } );
</script>
</body>
</html>
