<style>
  .modal-header .close:focus{ outline:2px solid #000 !important; }
</style>
<div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><?= $modalTitle; ?></h5>
          <button type="button" id="btn_close" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <p>Note : By typing "permanently delete" below, <?=$whatWillBeDeleted?></p>
                        <label>Type 'permanently delete' below to confirm</label>
                        <input type="text" class="form-control" onkeyup="checkIfConfirmComplete()" name="delete_permanently" id="delete_permanently" value="" placeholder="permanently delete">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="confirm_and_delete_btn" onclick="<?= $functionName; ?>('<?= $enc_groupId; ?>','<?= $enc_objectId; ?>','<?= $audit_code; ?>');" disabled >Confirm and delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
     $('#confirmationModal').on('shown.bs.modal', function () {
       $('#btn_close').trigger('focus');
    });
  </script>