<style>
	.modal-max-height {
	min-height: 100px;
}
.modal-max-height {
    max-height:450px;
    overflow-y:scroll;
}

</style>

<div class="container  col-md-offset-2 margin-top">
	<div class="row">	  
		<div class="col-md-12">
			<div class="widget-simple-chart card-box ">				
				<div class="col-md-12 divider">
					<h6><?= $pagetitle; ?>&nbsp;</h6>
					<?php					
					if(isset($_GET['cid']) && $cid = $_COMPANY->decodeId($_GET['cid']) > 0){
					?>
						<a aria-label="<?= gettext('Add new integration');?>" class="add-plus-circle-icon" href="add_edit_integration?gid=<?= $_GET['gid'];?>&cid=<?= $_GET['cid'] ?>">
							<i class="fa fa-plus-circle fa-lg" title="Add new integration" aria-hidden="true"></i>
						</a>
					<?php
					}else if(isset($_GET['chid']) && $chid = $_COMPANY->decodeId($_GET['chid']) > 0){
					?>
						<a aria-label="<?= gettext('Add new integration');?>" class="add-plus-circle-icon" href="add_edit_integration?gid=<?= $_GET['gid'];?>&chid=<?= $_GET['chid'] ?>">
							<i class="fa fa-plus-circle fa-lg" title="Add new integration" aria-hidden="true"></i>
						</a>
						<?php
					}else{
						?>
						<a aria-label="<?= gettext('Add new integration');?>" class="add-plus-circle-icon" href="add_edit_integration?gid=<?= $_GET['gid'];?>">
							<i class="fa fa-plus-circle fa-lg" title="Add new integration" aria-hidden="true"></i>
						</a>
					<?php
					}
					?>
					
				</div>
		<div class="clearfix"></div>		
		<div class="table-responsive " id="list-view">
			<table id="table-custom-tab" class="table table-hover display compact" summary="This table display the list of custom group tabs">
				<thead>
					<tr>						
						<th width="5%" scope="col">#</th>
						<th width="70%" scope="col">Integration Name</th>
										
						<th width="20%" scope="col">Action</th>
					</tr>
				</thead>
				<tbody>				
				<?php
				
                $counter=0;
                foreach ($GroupIntegration as $integration) {
					
                    $counter++;                                      
                    $encodedintegrationid = $_COMPANY->encodeId($integration->val('integrationid'));                  
					
                    $color = ($integration->val('isactive')==1) ? "#ffffff" : "#ffffce";
				?>
					<tr id="<?=$counter;?>" style="background-color: <?= $color; ?>">
						<td><?php echo $counter; ?></td>
						<td>
							<?= ucfirst(htmlspecialchars($integration->val('integration_name'))) ?>
						</td>											
						<td>
							<?php if($integration->val('isactive')==1){		?>						
								
								<button aria-label="Deactivate"  class="btn btn-no-style deluser" onclick="changeIntegrationStatus('<?=$encodedgroupid;?>','<?= $encodedintegrationid;?>',2)" title="<strong>Are you sure to Deactivate!</strong>"><i class="fa fa-lock" title="Deactivate" aria-hidden="true"></i></button>								

							<?php } else { ?>

								<a class="btn" href="add_edit_integration?gid=<?=$encodedgroupid?>&cid=<?=$encodedchapterid?>&chid=<?=$encodedchannelid?>&integrationid=<?= $encodedintegrationid ?>"><i class="fa fa-edit" title="Edit"></i></a>&emsp;

								<button aria-label="Activate" class="btn btn-no-style deluser" onclick="changeIntegrationStatus('<?=$encodedgroupid?>','<?= $encodedintegrationid;?>',1)" title="<strong>Are you sure to Activate!</strong>"><i class="fa fa-unlock-alt" title="Activate" aria-hidden="true"></i></button>
                                							
                            <?php	}   ?>
						
						</td>
					</tr>

				<?php
                }
				?>
				</tbody>
			</table>
		</div>
		<br/>
		<div align="center">
            <a
                <?php if ($cid) { ?>
                    href="manageChapters?gid=<?= $_COMPANY->encodeId($groupid) ?>"
                <?php } elseif ($chid) { ?>
                    href="manage_channels?gid=<?= $_COMPANY->encodeId($groupid) ?>"
                <?php } else { ?>
                    href="group"
                <?php } ?>
                    class="btn btn-primary"
            >
                Back
            </a>
		</div>
	</div>								
</div>
</div>
</div>
</div>
 
<script src="../vendor/js/datatables-2.1.8/datatables.min.js"></script>
<script>
	$(document).ready(function() {
		$('#table-custom-tab').DataTable( {
			"order": [],
			"bPaginate": true,
			"bInfo" : false,
			"columnDefs": [
                { targets: [-1], orderable: false }
            ],
			language: {
            searchPlaceholder: "...",
            url: '../vendor/js/datatables-lang/i18n/<?= $_COMPANY->getDatatableLanguage($_USER->val("language")); ?>.json'                
        },
				
		});
	});
</script>
<style>
i {
    display: inline-block;
    cursor: pointer;
    height: 16px;
    vertical-align: text-top;
    width: 16px;
}
</style>
