<div class="tl-container-offset-lr">
	<div class="row">
	  <div class="col-12">
		<div class="widget-simple-chart card p-3">
		  <?php if((time()- @$_SESSION['updated']) < 5){ ?>
			<div id="hidemesage" class="alert alert-info alert-dismissible fade show" role="alert">
			  <?= UPDATED; ?>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		  <?php } elseif((time()- @$_SESSION['added']) < 5) { ?>
			<div id="hidemesage" class="alert alert-info alert-dismissible fade show" role="alert">
			  <?= ADDED; ?>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		  <?php } elseif((time()- @$_SESSION['error']) < 5){ ?>
			<div id="hidemesage" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <?= ERROR; ?>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		  <?php } ?>
  
		  <div class="col-12 divider d-flex border-bottom">
			<h1 class="mb-2"><?=$pagetitle?></h1>
			<div class="btn-group ms-auto">
			  <?php if ($show_connect_users_button) { ?>
				<button type="button" class="btn btn-primary dropdown-toggle mb-2" data-bs-toggle="dropdown" aria-expanded="false">
				  + Connect Users
				</button>
				<ul class="dropdown-menu dropdown-menu-end" style="width:200px;">
				  <li><a class="dropdown-item" href="importConnectUsers">Import Connect Users</a></li>
				</ul>
			  <?php } ?>
			</div>
		  </div>
  
		  <div class="clearfix"></div>
  
		  <div class="table-responsive">
			<table id="muser" class="table table-hover display compact w-100" summary="Company users list">
			  <thead>
				<tr>
				  <th width="5%" scope="col"></th>
				  <th width="20%" scope="col">Employee</th>
				  <th width="20%" scope="col"><?= $_COMPANY->getAppCustomization()['group']['name-short-plural']; ?></th>
				  <th width="15%" scope="col">Home Zone</th>
				  <th width="15%" scope="col">Office Location</th>
				  <th width="10%" scope="col">Status</th>
				  <th width="15%" scope="col">Action</th>
				</tr>
			  </thead>
			  <tbody>
			  </tbody>
			</table>
		  </div>
		  
		</div>
	  </div>
	</div>
  </div>
  
  <script src="../vendor/js/datatables-2.1.8/datatables.min.js"></script>
  <script>
	$(document).ready(function() {
	  var dtable = $('#muser').DataTable({
		stateSave: true,
		serverSide: true,
		bFilter: true,
		bInfo: false,
		bDestroy: true,
		order: [[ 0, "DESC" ]],
		language: {
		  searchPlaceholder: "Search by name or email",
		  url: '../vendor/js/datatables-lang/i18n/<?= $_COMPANY->getDatatableLanguage($_USER->val("language")); ?>.json'
		},
		columnDefs: [
		  { targets: [0,2,3,4,5,6], orderable: false }
		],
		ajax: {
		  url: "<?=$actionUrl?>", // json datasource
		  type: "POST",  // method, by default get
		  error: function(data){  // error handling
			$(".table-grid-error").html("");
			$("#table-members-server").append('<tbody class="table-grid-error"><tr><th colspan="6">No data found!</th></tr></tbody>');
			$("#table-grid_processing").css("display","none");
		},
		complete: function(){
			$('.initial').initial({
			charCount: 2,
			textColor: '#ffffff',
			seed: 0,
			height: 30,
			width: 30,
			fontSize: 15,
			fontWeight: 300,
			fontFamily: 'HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica, Arial,Lucida Grande, sans-serif',
			radius: 0
			});
			$(".deluser").popConfirm({content: ''});
		}
		},
	  });
  
	  $(".dataTables_filter input")
		.unbind()
		.bind("input", function(e) {
		  if(this.value.length >= 3 || e.keyCode == 13) {
			dtable.search(this.value).draw();
		  }
		  if(this.value == "") {
			dtable.search("").draw();
		  }
		  return;
		});
	  
	});
  
	function validateFilter(field) {
	  var valu = field.value.replace(/[^A-Za-z0-9_@\.]/g, '');
	  field.value = valu;  
	  if (valu.length >= 3) {
		document.getElementById("form-search-button").disabled = false;
	  } else {
		document.getElementById("form-search-button").disabled = true;
	  }
	}
  </script>
  