<?php
exit();
?>
<div class="container col-md-offset-2 margin-top">
    <div class="row">              
        <div class="col-md-12">
            <div class="widget-simple-chart card-box">
                <div class="col-md-12">
                  <span class="text-info">
                    <a href="event_custom_fields?topictype=EVTSPK">
                      Click here to go to the new way to manage event speaker custom fields
                    </a>
                  </span>
                </div>
                <div class="col-md-6 ">
                        <h6 style="margin-top: 4px;" ><?= $pagetitle; ?>&nbsp;</h6>
                    </div>
                <div class="divider col-md-12 mb-3"></div>
                <div class="clearfix"></div>
            <?php if((time()- @$_SESSION['updated']) < 5){ ?>
                <div id="hidemesage" class="alert alert-info alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                    <?= UPDATED; ?>
                </div>
            <?php }elseif((time()- @$_SESSION['error']) < 5){ ?>
                    <div id="hidemesage" class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        <?= ERROR; ?>
                    </div>
            <?php } ?>
                <div class="col-md-12">
                    <div class="table-responsive " id="list-view">
                
                        <table id="eventSpeakerField" class="table table-hover display compact">
                            <thead>
                                <tr>
                                    <th width="50%">Field Label</th>
                                    <th width="35%">Field Type</th>
                                    <th width="15%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                        <?php foreach($allSpeakersFields as $speakerfield){ ?>
                            <tr id="<?= $_COMPANY->encodeId($speakerfield['speaker_fieldid'])?>">
                                <td><?= htmlspecialchars($speakerfield['speaker_fieldlabel']); ?></td>
                                <td><?= Event::SPEAKER_FIELD_TYPES[$speakerfield['speaker_fieldtype']]; ?></td>
                                <td>
                                    <div class="dropdown" id="action<?= $_COMPANY->encodeId($speakerfield['speaker_fieldid'])?>">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <?= $approvalStatus[$speakerfield['isactive']]?>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <?php if($speakerfield['isactive']==1){ ?>
                                            <button aria-label="De-activate" class="btn btn-no-style dropdown-item deluser" onclick="activateDeactivateEventSpeakerField('<?= $_COMPANY->encodeId($speakerfield['speaker_fieldid']); ?>',2)" class="confirm" title="Are you sure you want to deactivate this field?"><i class="fa fa-unlock" aria-hidden="true"></i> De-activate</button>
                                        <?php } elseif ($speakerfield['isactive'] == 2){ ?>
                                            <button aria-label="Activate" class="btn btn-no-style dropdown-item deluser" onclick="activateDeactivateEventSpeakerField('<?= $_COMPANY->encodeId($speakerfield['speaker_fieldid']); ?>',1)" class="confirm" title="Are you sure you want to activate this field?"><i class="fa fa-lock" aria-hidden="true"></i> Activate</button>
                                        <?php } ?>
                                        <button aria-label="Delete" class="btn btn-no-style dropdown-item deluser" onclick="activateDeactivateEventSpeakerField('<?= $_COMPANY->encodeId($speakerfield['speaker_fieldid']); ?>',0)" class="confirm" title="Are you sure you want to delete this feild?"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../vendor/js/datatables-2.1.8/datatables.min.js"></script>
<script>
	$(document).ready(function() {
		$('#eventSpeakerField').DataTable( {
			"order": [],
			"bPaginate": true,
			"bInfo" : false
				
		});
	});
</script>
</body>
</html>
