<style>
	.redactor-box{
		border: 1px lightgray solid !important;
		padding:10px;
	}
</style>
	<div class="container col-md-offset-2 margin-top">
		<div class="row">              
			<div class="col-md-12">
				<div class="widget-simple-chart card-box">
					<div class="col-md-12 divider"><h6><?= $pagetitle; ?></h6></div>
						
						<form class="form-horizontal" method="post" action="">
							<input type="hidden" name="csrf_token" value="<?=Session::GetInstance()->csrf;?>">

                           
							<div class="form-group">
								<label class="col-lg-2 control-label">Scope</label>
								<div class="col-lg-10">
									<select name="scope" id="scope" class="form-control">
										<option value="zone" <?= $edit ? ($edit->val('scope') == 'zone' ? 'selected' : 'disabled' ) : '' ?>>Zone</option>
										<option value="group" <?= $edit ? ($edit->val('scope') == 'group' ? 'selected' : 'disabled') : '' ?>>Group</option>
									</select>
								</div>
							</div>
                         

							<div class="form-group">
								<label class="col-lg-2 control-label">List Name<span style="color:red;">*</span></label>
								<div class="col-lg-10">
									<input class="form-control" placeholder="List Name" name="list_name" value="<?= $edit ? $edit->val('list_name') : '';?>"  type="text" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 control-label">List Description</label>
								<div class="col-lg-10">
									<textarea type="text" class="form-control" name="list_description" rows="2" id="non_redactor_list_description" required maxlength="300" placeholder="Add some text that best describes this list ..."><?= $edit ? $edit->val('list_description') : '';?></textarea>
									<p class="red"><small>Note : Maximum 300 characters allowed!</small></p>
								</div>
							</div>

							<div class="form-group">
                                <label for="inputScope" class="col-lg-2 control-label">Criteria</label>
                                <div class="col-lg-10 p-0 m-0">
                                <?php foreach($catalog_categories as $catalog_category){ ?>
                                    <div class="form-group">
                                        <label for="<?= $catalog_category; ?>" class="col-md-12 control-label"><?= $catalog_category; ?></label>
                                        <div class="col-md-2">
                                            <select class="form-control" name="<?= $catalog_category; ?>" id="<?= $catalog_category; ?>" onchange="showHideCategoryKeys(this.value,'<?= $catalog_category; ?>')">
                                                <option value="0">Ignore</option>
                                                <?php foreach (array_keys(UserCatalog::SET_TYPE_OPERATORS_MAP) as $oper) { ?>
                                                <option value="<?=$oper?>" <?= $edit  ? (array_key_exists($catalog_category,$edit_criteria) && $edit_criteria[$catalog_category]['comparator'] == $oper ? 'selected' : '') : ''; ?> ><?=UserCatalog::SET_TYPE_OPERATORS_MAP[$oper]?></option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                        <div class="col-md-10">
                                            <select class="form-control multi_select" name="<?= $catalog_category; ?>_val[]" id="<?= $catalog_category; ?>_val" multiple="multiple" style="width:100%;" >
                                                <option value="">Select a system role type</option>
                                                <?php foreach(UserCatalog::GetAllCategoryKeys($catalog_category) as $key){
                                                    $sel = '';
                                                    if ($edit && !empty($edit_criteria) && array_key_exists($catalog_category,$edit_criteria) &&  in_array($key,$edit_criteria[$catalog_category]['keys'])){
                                                        $sel = 'selected';
                                                    }
                                                ?>
                                                <option value="<?= $key ;?>" <?= $sel; ?>><?= $key ;?></option>
                                            <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                <?php } ?>
                                </div>
                            </div>
							
							<div class="form-group">
								<div class="col-lg-12 text-center">
									<button type="button" onclick="goBack()" class="btn btn-primary">Cancel</button>
									<button type="submit" name="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</form>
		
				</div>	
			</div>
		</div>
	</div>


<script>
	$(document).ready(function(){
		$('#redactor_content').initRedactor('redactor_content', 'zone',['counter']);
		$('.multi_select').select2(
		{
			placeholder: "Select or search options",
			maximumSelectionLength: 20
		}
	);
	});

	function showHideCategoryKeys(v,c){
		if (v){
			$('#'+c+'_div').show();
		}else{
			$('#'+c+'_div').hide();
		}
	}

	<?php if($success){ ?>
		swal.fire({title: 'Success',text:'<?= $success; ?>'}).then(function(result) {
			window.location.href = 'manage_dynamic_lists';
		});
	<?php } ?>

	<?php if($error){ ?>
		swal.fire({title: 'Error',text:'<?= $error; ?>'});

	<?php } ?>
</script>

</body>
</html>