    <div class="container  col-md-offset-2 margin-top">
        <div class="row">	  
            <div class="col-md-12">
                <div class="widget-simple-chart card-box ">
                    <div class="col-md-12 divider">
                        <h6><?= $pagetitle; ?></h6>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <table class="table display">
                            <tr>
                                <td><i class="fa fa-user-circle" aria-hidden="true"></i> <strong>All Users</strong></td>
                                <td> <a href="reports/All Users List.xlsx" class="btn btn-primary pull-right">View Reporting</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user-circle" aria-hidden="true"></i> <strong>All Mentors</strong></td>
                                <td> <a  href="reports/Mentor List.xlsx" class="btn btn-primary pull-right">View Reporting</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user-circle" aria-hidden="true"></i> <strong>All Mentees</strong></td>
                                <td> <a href="reports/Mentee List.xlsx"  class="btn btn-primary pull-right">View Reporting</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user-circle" aria-hidden="true"></i> <strong>All Administrators</strong></td>
                                <td> <a href="reports/All Leads List.xlsx"  class="btn btn-primary pull-right">View Reporting</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user-circle" aria-hidden="true"></i> <strong>Never Connected Mentees</strong><p>Mentees who have never been connected</p></td>
                                <td> <a href="reports/Mentee List.xlsx"  class="btn btn-primary pull-right">View Reporting</a></td>
                            </tr>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    </body>
</html>
