<div class="container-offset-lr mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card p-4 mt-2">
                <form method="post" action="">
                    <h1>Change Password</h1><hr>

                    <?php if (isset($err)){ ?>
                        <div id="hidemesage" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <?= $err; ?>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <?php } ?>

                    <div class="row">
                        <div class="col-md-7">
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label text-sm-end required">Old Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="oldPassword" placeholder="***************" value="<?= @$_POST['oldPassword']; ?>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label text-sm-end required">New Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="newPassword" placeholder="***************" value="<?= @$_POST['newPassword']; ?>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label text-sm-end required">Confirm Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="confiorm" placeholder="***************" value="<?= @$_POST['confiorm']; ?>" required>
                                </div>
                            </div>
                            <div class="mb-3 text-center">
                                <a href="index.php" class="btn btn-secondary">Cancel</a>
                                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <p><u>Password must fulfil following:</u></p>
                            <ul>
                                <li>New Password length must be a minimum of eight (8) characters.</li>
                                <li>New Password must not be equal to, or a derivative of, the user ID.</li>
                                <li>New Password must contain at least one (1) alphabetic, one (1) numeric and one (1) non-alpha-numeric character, and at least one (1) upper case alpha character. Valid characters are ~!@#$%^&*-</li>
                                <li>New Password must not be same as previous 5 passwords.</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery("#menu-toggle").click(function(e) {
        e.preventDefault();
        jQuery("#wrapper").toggleClass("toggled");
    });

    <?php if (isset($done)){ ?>
        swal.fire({title: 'Success', text: "<?= $done ?>"})
        .then(function(result) {
            window.location.href = 'manage';
        });
    <?php } ?>
</script>

<script>
    $("#sidebar-wrapper ul li:nth-child(5)").addClass("myactive");
</script>
</body>
</html>
