<style>
    .past-jobs {
        border: 1px solid #8080803b;
    }
</style>

<div class="container-offset-lr mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card past-jobs p-3">
                <div class="row align-items-center mb-3">
                    <div class="col-12 col-md-6">
                        <h1>Manage EAI Accounts</h1>
                    </div>
                    <div class="col-12 col-md-6 text-md-end mt-2 mt-md-0">
                        <a class="btn btn-outline-primary" href="new_eai_credential">+ New Credential</a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="table" class="table table-bordered table-hover table-sm align-middle">
                        <thead class="table-light">
                            <tr>
                                <th width="10%">Module</th>
                                <th width="15%">Username</th>
                                <th width="10%">Failed Login</th>
                                <th width="10%">Last Used</th>
                                <th width="10%">Modified On</th>
                                <th width="10%">Status</th>
                                <th width="25%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach($rows as $row): ?>
                            <?php
                                $failed_login_cell_style = '';
                                if ($row['failed_logins'] > 2) {
                                    $failed_login_cell_style = 'style="background:red;"';
                                } elseif ($row['failed_logins']) {
                                    $failed_login_cell_style = 'style="background:orange;"';
                                }
                            ?>
                            <tr>
                                <td><?= htmlspecialchars($row['module']); ?></td>
                                <td><?= htmlspecialchars($row['username']); ?></td>
                                <td <?=$failed_login_cell_style?>><?= htmlspecialchars($row['failed_logins']); ?></td>
                                <td><?= htmlspecialchars($row['last_used']); ?></td>
                                <td><?= htmlspecialchars($row['modifiedon']); ?></td>
                                <td><?= htmlspecialchars($status[$row['isactive']]); ?></td>
                                <td class="d-flex flex-wrap gap-1">
                                    <?php if($row['isactive'] == 0 || $row['isactive'] == 2): ?>
                                        <button class="btn btn-primary btn-sm confirm" onclick="changeEaiCredentialStatus('<?= base64_encode($row['accountid']); ?>','<?= base64_encode(1); ?>')" title="Are you sure to activate?">Activate</button>
                                        <button class="btn btn-primary btn-sm confirm" onclick="changeEaiCredentialStatus('<?= base64_encode($row['accountid']); ?>','<?= base64_encode(100); ?>')" title="Are you sure to delete?">Delete</button>
                                    <?php else: ?>
                                        <button class="btn btn-primary btn-sm confirm" onclick="changeEaiCredentialStatus('<?= base64_encode($row['accountid']); ?>','<?= base64_encode(0); ?>')" title="Are you sure to deactivate?">De-Activate</button>
                                    <?php endif; ?>

                                    <button class="btn btn-primary btn-sm confirm" onclick="resetEaiCredentialPassword('<?= base64_encode($row['accountid']); ?>')" title="Are you sure to reset password?">Reset Password</button>

                                    <a class="btn btn-primary btn-sm" href="edit_eai_credential?eai_account_id=<?= $_COMPANY->encodeId($row['accountid']) ?>">Edit Permissions</a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyPasswordContainer"></div>
<script src="<?=TELESKOPE_CDN_STATIC?>/vendor/js/datatables-2.1.8/datatables.min.js"></script>
<script>
    jQuery("#menu-toggle").click(function(e) {
        e.preventDefault();
        jQuery("#wrapper").toggleClass("toggled");
    });
    $("#sidebar-wrapper ul li:nth-child(5)").addClass("myactive");

    $('#table').DataTable({
        order: [],
        paging: true,
        info: false
    });
</script>
</body>
</html>