<div class="container-offset-lr mt-4">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card p-4">
                <div class="border-bottom mb-3">
                    <h4 class="mb-0 text-light-brown"><?= $pageTitle; ?></h4>
                </div>

                <form class="row g-4 mt-3" id="emailSetting" action="" method="post">

                    <!-- Module -->
                    <div class="row align-items-center mb-3">
                        <label for="module" class="col-md-2 col-form-label text-md-end">Module</label>
                        <div class="col-md-8">
                            <select name="module" id="module" class="form-select" required>
                                <option value="">Select an option</option>
                                <option value="uploader">Uploader</option>
                                <option value="graph">Graph</option>
                            </select>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="row  mb-3">
                        <label for="randomPassword" class="col-md-2 col-form-label text-md-end">Password <span class="text-danger">*</span></label>
                        <div class="col-md-6">
                            <input 
                                type="text" 
                                class="form-control" 
                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 32 or more characters" 
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{32,}" 
                                name="password" 
                                value="<?= randomPasswordGenerator(32); ?>" 
                                id="randomPassword"  
                                placeholder="Password here..." 
                                required
                            >
                            <div class="form-text">
                                Note : Must contain at least one number and one uppercase and lowercase letter, and at least 32 or more characters.
                            </div>
                        </div>

                        <div class="col-md-2 p-1 align-items-end">
                            <button type="button" id="refreshPassword" onclick="getRandomPassword();" class="btn btn-primary btn-sm w-100">
                                Generate Random Password
                            </button>
                        </div>
                    </div>

                    <!-- Attributes -->
                    <div class="row align-items-start mb-3">
                        <label for="attributes" class="col-md-2 col-form-label text-md-end">Attributes</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="attributes" rows="10" name="attributes" placeholder="Attributes in JSON format"></textarea>
                        </div>
                    </div>

                    <!-- Note Warning -->
                    <div class="row mb-4">
                        <div class="col-md-10 offset-md-1">
                            <p class="text-center text-danger bg-warning fw-bold py-2">
                                !!! Don't forget to set permissions and activate the account !!!
                            </p>
                        </div>
                    </div>

                    <?php if (0) { ?>
                    <!-- Permissions (Hidden for now) -->
                    <div class="row mb-4">
                        <label class="col-md-2 col-form-label text-md-end">Permissions</label>
                        <div class="col-md-8">
                            <?php
                            $permissions = [
                                ...EaiUploaderPermission::cases(),
                                ...EaiGraphPermission::cases(),
                            ];
                            foreach ($permissions as $permission) { ?>
                                <div class="form-check js-permission <?= get_class($permission) === 'EaiGraphPermission' ? 'js-graph-permission' : 'js-uploader-permission' ?>">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="permissions[]"
                                        value="<?= $permission->value ?>"
                                    >
                                    <label class="form-check-label">
                                        <?= $permission->value ?>
                                    </label>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <?php } ?>

                    <!-- Submit and Cancel buttons -->
                    <div class="row">
                        <div class="col-md-10 offset-md-1 text-center">
                            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button> &emsp;
                            <button class="btn btn-primary" name="submit" type="submit">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
function getRandomPassword() { 
    $.ajax({
        url: 'action.php?getRandomPassword=1',
        type: "GET",
        success: function(data) {
            $("#randomPassword").val(data);
        }
    });
}

$("#sidebar-wrapper ul li:nth-child(5)").addClass("myactive");

<?php if ($successCode) { ?>
    Swal.fire({
        title: 'Success',
        text: "Credential created successfully",
        icon: 'success'
    }).then(function() {
        window.location.href = "manage_eai_credentials";
    });
<?php } elseif ($successCode == 2) { ?>
    Swal.fire({
        title: 'Error',
        text: "Something went wrong. Please try again.",
        icon: 'error'
    });
<?php } ?>

function renderPermissions() {
    $('.js-permission')
        .hide()
        .find('input')
        .prop('checked', false);

    var classname = $('#module').val() === 'graph' ? 'js-graph-permission' : 'js-uploader-permission';
    $('.' + classname).show();
}

// Uncomment if permissions need to auto-render
// $('#module').on('change', renderPermissions);
// renderPermissions();
</script>