<!-- Redactor -->
<link rel="stylesheet" href="<?=TELESKOPE_CDN_STATIC?>/vendor/js/redactor-3-5-2/redactor.min.css" />
<script src="<?=TELESKOPE_CDN_STATIC?>/vendor/js/redactor-3-5-2/redactor.tele.min.js?v=1"></script>
<style>
    .redactor-box {
        border: 1px solid #d2d6de;
        padding: 8px;
    }
</style>

<div class="container-offset-lr mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm mt-2">
                <div class="card-body">
                    <h4 ><?= $pageTitle; ?></h4>
                    <form class="row g-4 mt-3" method="post" action="">
                        <input type="hidden" name="faqid" value="<?= isset($_GET['edit']) ? htmlspecialchars($_GET['edit'], ENT_QUOTES, 'UTF-8') : ''; ?>">

                        <div class="row align-items-center mb-3">
                            <label for="releasename" class="col-md-2 col-form-label text-md-end required">Release Name</label>
                            <div class="col-md-8">
                                <input class="form-control" id="releasename" placeholder="Release Name" name="releasename"
                                    value="<?= isset($_GET['edit']) ? htmlspecialchars($edit[0]['releasename'], ENT_QUOTES, 'UTF-8') : ''; ?>" 
                                    type="text" required>
                            </div>
                        </div>

                        <?php if (0) { ?>
                        <div class="row align-items-center mb-3">
                            <label for="app_type" class="col-md-2 col-form-label text-md-end ">App Type</label>
                            <div class="col-md-8">
                                <select class="form-select" name="app_type" id="app_type" required>
                                    <option value="">Select App Type</option>
                                    <option value="affinities" <?= (isset($_GET['edit']) && $edit[0]['app_type'] == 'affinities') ? 'selected' : ''; ?>>Affinities</option>
                                    <!-- More options here -->
                                </select>
                            </div>
                        </div>
                        <?php } ?>

                        <div class="row align-items-start mb-3">
                            <label for="redactor_content" class="col-md-2 col-form-label text-md-end required">Note</label>
                            <div class="col-md-8">
                                <textarea class="form-control textareahight" placeholder="Note.." name="notes" required id="redactor_content" rows="8"><?= isset($_GET['edit']) ? htmlspecialchars($edit[0]['notes'], ENT_QUOTES, 'UTF-8') : ""; ?></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 text-center">
                                <a href="manage_release_notes.php" class="btn btn-secondary">Cancel</a>
                                <button type="submit" name="submit" class="btn btn-primary ms-2">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery("#menu-toggle").click(function(e) {
        e.preventDefault();
        jQuery("#wrapper").toggleClass("toggled");
    });

    $("#sidebar-wrapper ul li:nth-child(7)").addClass("myactive");

    $(document).ready(function(){
        $('#redactor_content').initRedactor('redactor_content', 'post');
    });

    (function ($) {
        $.fn.initRedactor = function (id, context) {
            $R('#' + id, {
                linkNewTab: true,
                linkTarget: '_blank',
                linkTitle: true,
                linkNofollow: true,
                linkSize: 256,
                linkValidation: true,
                styles: false,
                minHeight: '300px',
                buttons: ['redo', 'undo', 'format', 'bold', 'italic', 'underline', 'ul', 'ol', 'line', 'link', 'image'],
                formatting: ['p', 'blockquote'],
                pasteLinkTarget: '_blank',
                pasteImages: true,
                pastePlainText: false,
                pasteBlockTags: ['ul', 'ol', 'li', 'p','blockquote'],
                pasteInlineTags: ['a', 'br', 'b', 'u', 'i'],
                dragUpload: true,
                multipleUpload: false,
                clipboardUpload: true,
            });
        };
    })(jQuery);
</script>
